<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="{% url "about" %}">About</a></li>
                <li><a href="{% url "contact" %}">Contact</a></li>
                <li><a href="{% url "login" %}">login</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section>
            <h2>Our Mission</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel justo vel felis posuere elementum. Sed non velit id ipsum ullamcorper commodo.</p>
        </section>
        <section>
            <h2>Our Team</h2>
            <p>Lorem ipsum dolor sit amet, consect</p>
        </section>
    </main> 
    <footer>
        <p>Todos los derechos reservados &copy; 2025</p>
    </footer>
</body>
</html>