<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>MENU PRINCIPAL</h1>
        <p>Bienvenido a nuestro sitio web. Aquí encontrarás información sobre nosotros.</p>
    </main>
    <footer>
        <p>Todos los derechos reservados &copy; 2025</p>
    </footer>
</body>
</html>