{% extends 'base.html' %}


{% block title %}
<title>About Us</title>
{% endblock title %}


{% block content %}
<section>
    <h2>Our Mission</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel justo vel felis posuere elementum. Sed non velit id ipsum ullamcorper commodo.</p>
</section>
<section>
    <h2>Our Team</h2>
    <p>Lorem ipsum dolor sit amet, consect</p>
</section>
{% endblock content %}


{% block footer %}
    <p>Todos los derechos reservados &copy; 2025</p>
{% endblock footer %}
