{% extends 'base.html' %}


{% block title %}
<title>Login</title>
{% endblock title %}
    

{% block content %}
</h1>Login</h1>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required class="form-control">
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required class="form-control">
    </div>
    <button type="submit">Login</button>
</form>
<p>Don't have an account? <a href="#">Register</a></p>
<p>Don't have an account? <a href="#">sistema de usuario</a></p>
{% endblock content %}
    

{% block footer %}
    <p>Todos los derechos reservados &copy; 2025</p>
{% endblock footer %}